<p-dialog
  class="p-dialog-update"
  header="Header"
  [visible]="displayUpdateModal"
  [style]="{ width: '50vw' }"
  (onHide)="closeUpdateModal()"
  [modal]="true"
  [draggable]="true"
  [resizable]="true"
  [contentStyle]="{ 'overflow': 'visible' }"
  [baseZIndex]="1000"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Update Product</span>
  </ng-template>

  <form [formGroup]="updateProductFormGroup" (ngSubmit)="updateProduct()" class="update-form">
    <!-- Update form fields here -->
   <div class="field">
      <label class="block">Title</label>
      <input
        type="text"
        pInputText
        id="title"
        formControlName="title"
        class="input-field"
      />
      <small
        class="p-error block"
        *ngIf="updateProductFormGroup.controls['title'].invalid && updateProductFormGroup.controls['title'].dirty"
      >
        Field is required
      </small>
    </div>
    <div class="field">
      <label class="block" for="price">Price</label>
      <input
        type="number"
        id="integeronly"
        pInputText
        formControlName="price"
        class="input-field"
      />
      <small
        class="p-error block"
        *ngIf="updateProductFormGroup.controls['price'].invalid && updateProductFormGroup.controls['price'].dirty"
      >
        Field is required
      </small>
    </div>
    <div class="field">
      <label class="block">Description</label>
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="description"
        class="input-field"
      ></textarea>
    </div>
    <div class="field">
      <label class="block" for="image">Image</label>
      <input
        type="text"
        pInputText
        id="image"
        formControlName="image"
        class="input-field"
      />
      <small
        class="p-error block"
        *ngIf="updateProductFormGroup.controls['image'].invalid && updateProductFormGroup.controls['image'].dirty"
      >
        Field is required
      </small>
    </div>
    <div class="field">
      <label class="block" for="category">Category</label>
      <input
        type="text"
        pInputText
        id="category"
        formControlName="category"
        class="input-field"
      />
      <small
        class="p-error block"
        *ngIf="updateProductFormGroup.controls['category'].invalid && updateProductFormGroup.controls['category'].dirty"
      >
        Field is required
      </small>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      (click)="closeUpdateModal()"
      label="Cancel"
      styleClass="p-button-text"
      class="update-button"
    ></p-button>
   <p-button>
    (click)="updateProduct()"
    label="Update"
    styleClass="p-button-text"
    [disabled]="updateProductFormGroup.invalid"
    class="update-button"
  ></p-button>
</ng-template>
</p-dialog>
